CLIENT_SECRET='get from slack app'
SLACK_SIGNING_SECRET='get from slack app'
SLACK_CLIENT_ID='get from slack app'
REDIRECT_URI='<url_host>/api/seren/v1/auth/callback'
DATABASE='<your mongo db url>'
DATABASE_PASSWORD='<password>'
REDIRECT_URI='{server base url}/api/seren/v1/auth/callback'
SMTP_MAILER_USERNAME='get from owner'
SMTP_MAILER_PASSWORD='get from owner'
GOOGLE_CLIENT_ID="get from google app"
GOOGLE_CLIENT_SECRET='get from google app'
GOOGLE_REDIRECT_URL='{server base url}/api/seren/v1/google/auth <make sure this is set in the google app>'
API_HOST='server base url'
TELNYX_API_KEY='get from heroku app or owner'
TELNYX_PHONE_NUMBER='get from heroku app or owner'
TELNYX_PROFILE_ID='get from heroku app or owner'
ACCEPT_WAIT_TIME="wait time for app to check accepted users"